<!DOCTYPE html>
<html>

<head>
    <title>Database Interactions and UI</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>

